@import "../../app.scss";

.navbar {
  width: 100%;
  color: white;
  font-size: 18px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background-color: rgb(0, 0, 0, 0.9);
  }

  .container {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    @include tablet;
    @include mobile {
      padding: 5px 25px;
    }

    .left {
      display: flex;
      align-items: center;

      span {
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;

        @include tablet {
          display: none;
        }

        &.navbarmainLinks {
          @include tablet {
            display: block;
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .icon {
        margin: 0px 15px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }

        span {
          padding: 10px;
          cursor: pointer;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
